[Desktop Entry]
Name=somewm
Comment=AwesomeWM-inspired Wayland compositor based on dwl
Exec=somewm
TryExec=somewm
Type=Application
DesktopNames=somewm
