[Desktop Entry]
Name=somewm
Comment=AwesomeWM-inspired Wayland compositor based on dwl
Exec=somewm
TryExec=/usr/local/bin/somewm
Type=Application
DesktopNames=somewm
